@import "../../styles/variables";
$btnPadding: 15px 10px;
$btnRadius: 20px;

.generalBtn {
  padding: $btnPadding;
  border-radius: $btnRadius;
  background-color: $btn--background;
  border: none;
  color: $text--color;
  font-size: 0.9rem;
  width: 100px;
}
