@import "../../styles/variables";

.wrappers {
  height: 500px;
  width: 350px;
  background-color: $card--background;
}

.wrappers:hover {
  box-shadow: 0 4px 8px 0 $shadow1, 10px 0 20px 0 $shadow2;
}

.projectImg {
  object-fit: cover;
  height: 240px;
}
