$cardBackground: rgba(255, 255, 255);
$shadow1: rgba(255, 255, 255, 0.2);
$shadow2: rgba(254, 254, 254, 0.19);

.wrappers {
  height: 500px;
  width: 350px;
  background-color: $cardBackground;
}

.wrappers:hover {
  box-shadow: 0 4px 8px 0 $shadow1, 10px 0 20px 0 $shadow2;
}

.projectImg {
  object-fit: cover;
  height: 240px;
}
