$backgroundColor: rgb(34, 34, 34);
$textColor: white;
$mobiletextSize: 1.5rem;
$textSize: 2rem;

@import "../../styles/mixin.scss";

.back {
  background-color: $backgroundColor;
  padding: 15px;
  min-height: 100vh;
  @include notMobile {
    min-height: 92vh;
    margin-top: 8vh;
    padding: 0px;
  }
}

.contain {
  width: 100%;
  // margin: 0 5%;
  min-height: inherit;
}

.wrapper {
  color: $textColor;
  h4 {
    font-size: $mobiletextSize;
    @include notMobile() {
      font-size: $textSize;
    }
  }
  .portfolio {
    font-weight: bold;
    margin-left: 12px;
  }
}
