@import "../../styles/mixin";
@import "../../styles/variables";

.back {
  background-color: $background--color;
  padding: 15px;
  min-height: 100vh;
  @include notMobile {
    min-height: 92vh;
    margin-top: 8vh;
    padding: 0px;
  }
}

.contain {
  width: 100%;
  min-height: inherit;
}

.wrapper {
  color: $text--color;
  padding-bottom: 50px;
  h4 {
    font-size: $mobile--text--size;
    @include notMobile() {
      font-size: $text--size;
    }
  }
  .portfolio {
    font-weight: bold;
    margin-left: 12px;
  }
}
