$text--color: white;
$resume--cart--bgcolor: #333333;
$background--color: rgb(34, 34, 34);
$mobile--text--size: 1.5rem;
$text--size: 2rem;
$above--name--size: 4rem;
$name--size: 5rem;
$below--name: 1rem;
$card--background: rgba(255, 255, 255);
$shadow1: rgba(255, 255, 255, 0.2);
$shadow2: rgba(254, 254, 254, 0.19);
$edu--name--color: #adaf46;
$edu--desc--color: #858070;
$specific--para--color: rgb(122, 122, 122);
$specific-font-size: 0.9rem;
$first-font-size: 1rem;
$sub--heading--text--size: 1.8rem;
$sub--heading--text--size--mobile: 1.8rem;
$link--color: rgb(37, 92, 148);
$username--color: rgb(122, 122, 122);
$btn--background: rgb(186, 201, 100);
$navbar--bg--mobile: white;
$navbar--text--color--mobile: black;
