$aboutTextColor: white;
$specificParaColor: rgb(122, 122, 122);
$specificFontSize: 0.9rem;
$firstFontSize: 1rem;

.about {
  color: $aboutTextColor;
  letter-spacing: 1px;
}

.aboutImg {
  object-fit: cover;
}

.firstPara {
  font-size: $firstFontSize;
  text-align: justify;
  letter-spacing: 3px;
}

.restPara {
  letter-spacing: 2px;
  font-size: $specificFontSize;
  color: $specificParaColor;
  text-align: justify;
}
