@import "../../styles//variables";
@import "../../styles/mixin";

.about {
  color: $text--color;
  letter-spacing: 1px;
}

.aboutImg {
  object-fit: cover;
  @include notMobile {
      width: 26%;
    }
  }

.firstPara {
  font-size: $first-font-size;
  text-align: justify;
  letter-spacing: 3px;
}

.restPara {
  letter-spacing: 2px;
  font-size: $specific-font-size;
  color: $specific--para--color;
  text-align: justify;
}


.download{
  text-decoration: none;
  color: $text--color;
}

.download:hover{
  color: $text--color;
}