@import "../../styles/variables";

.background {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
}

.profile {
  height: inherit;
  width: inherit;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

.myDetails {
  position: absolute;
  top: 0;
  height: inherit;
  width: inherit;
  color: $text--color;
  text-align: center;
  h2 {
    font-size: $above--name--size;
    letter-spacing: 3px;
  }
  h1 {
    font-size: $name--size;
    letter-spacing: 2px;
    font-weight: bold;
  }

  h4 {
    font-size: $below--name;
    letter-spacing: 5px;
    font-weight: lighter;
  }
}
