@import "../../styles/mixin.scss";
@import "../../styles/variables";

.contact {
  letter-spacing: 3px;
  font-weight: lighter;
  overflow: hidden;
  color: $text--color;
  h3 {
    font-size: $sub--heading--text--size--mobile;
    margin: 0px;
  }

  @include notMobile() {
    width: 80%;
    margin: 0 10%;
    h3 {
      font-size: $sub--heading--text--size;
    }
  }

  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    color: $text--color;
  }
  h6 {
    color: $link--color;
  }

  p {
    color: $username--color;
  }
}
