@import "../../styles/mixin.scss";
@import "../../styles/variables";

$navHeight: 8vh;
$mobileWidth: 478px;
$navlinkSize: 1rem;

.rootNavHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.rootNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background--color;
  z-index: 999;
}

li {
  list-style: none;
  font-size: $navlinkSize;
}

ul {
  margin: 5px;
  padding: 0px;
  @include notMobile() {
    margin-bottom: 0px;
    padding: 10px;
  }
}

.menuIcon {
  margin: 5px 0 0 5px;
}

.navbar {
  min-height: $navHeight;
  background-color: $navbar--bg--mobile;
  @include notMobile() {
    background-color: transparent;
  }
}

.link {
  text-decoration: none;
  color: $navbar--text--color--mobile;
  letter-spacing: 3px;
  @include notMobile() {
    color: $text--color;
  }
}

.active {
  color: $active--navbar--color;
}
