$cardBackground: rgba(255, 255, 255);
$shadow1: rgba(255, 255, 255, 0.2);
$shadow2: rgba(254, 254, 254, 0.19);

.wrappers {
  min-height: 500px;
  min-width: 350px;
  background-color: $cardBackground;
}

.wrappers:hover {
  box-shadow: 0 4px 8px 0 $shadow1,
    0 6px 20px 0 $shadow2;
}

