$backgroundColor: rgb(34, 34, 34);

@import "../styles/mixin.scss";

.back {
  background-color: $backgroundColor;

  @include notMobile {
    min-height: 92vh;
    margin-top: 8vh;
  }
}

.contain {
  width: 100%;
  // margin: 0 5%;
  min-height: inherit;
}
